<a mat-list-item class="link flex" [routerLink]="['dashboard']" routerLinkActive="router-link-active">
  <svg-icon src="home"></svg-icon>
  Accueil
</a>

<a mat-list-item class="link flex" [routerLink]="['group-list']" routerLinkActive="router-link-active">
  <svg-icon src="browse"></svg-icon>

  Mes Groupes/Equipes
  <svg-icon class="mobile-nav-edge arrow" src="next"></svg-icon>
</a>

<a mat-list-item class="link flex" [routerLink]="['space-list']" routerLinkActive="router-link-active">
  <svg-icon src="browse"></svg-icon>

  Mes Espaces/Zones
  <svg-icon class="mobile-nav-edge arrow" src="next"></svg-icon>
</a>
