<div class="pageFrame">
    <div class="main">
        <a class="main__return flex" [routerLink]="['/home/policies']" matRipple>
            <svg-icon src="previous"></svg-icon>
            Conditions et politiques
        </a>
        <h2 class="main__title"> {{title}}</h2>
        <div class="main__scrolled">
            <p class="titleText bold">{{'COOKIES.title1' | translate}}</p>
            <p class="titleText desc ">{{'COOKIES.parag1' | translate}}</p>
            <p class="titleText desc ">{{'COOKIES.parag2' | translate}}</p>
            <p class="titleText bold">{{'COOKIES.title2' | translate}}</p>
            <p class="titleText desc ">{{'COOKIES.parag3' | translate}}</p>
            <p class="titleText desc ">{{'COOKIES.parag4' | translate}}</p>
            <p class="titleText desc ">{{'COOKIES.parag5' | translate}}</p>
            <p class="titleText bold">{{'COOKIES.title3' | translate}}</p>
            <p class="titleText desc ">{{'COOKIES.parag6' | translate}}</p>
            <li class="titleText desc">{{'COOKIES.link6-sub1' | translate}}</li>
            <p class="titleText desc ">{{'COOKIES.parag7' | translate}}</p>
            <p class="titleText desc ">{{'COOKIES.parag8' | translate}}</p>
            <div class="overflowx">
                <table>
                    <tr>
                        <th>{{'COOKIES.table.header1' | translate}}</th>
                        <th>{{'COOKIES.table.header2' | translate}}</th>
                        <th>{{'COOKIES.table.header3' | translate}}</th>
                        <th>{{'COOKIES.table.header4' | translate}}</th>
                    </tr>
                    <tr>
                        <td>{{'COOKIES.table.info1-col1' | translate}}</td>
                        <td>{{'COOKIES.table.info1-col2' | translate}}</td>
                        <td>{{'COOKIES.table.info1-col3' | translate}}</td>
                        <td>{{'COOKIES.table.info1-col4' | translate}}</td>
                    </tr>
                    <tr>
                        <td>{{'COOKIES.table.info2-col1' | translate}}</td>
                        <td>{{'COOKIES.table.info2-col2' | translate}}</td>
                        <td>{{'COOKIES.table.info2-col3' | translate}}</td>
                        <td>{{'COOKIES.table.info2-col4' | translate}}</td>
                    </tr>
                </table>
            </div>
            <p class="titleText bold">{{'COOKIES.title4' | translate}}</p>
            <p class="titleText desc ">{{'COOKIES.parag9' | translate}}</p>
            <p class="titleText desc ">{{'COOKIES.parag10' | translate}}</p>
            <p class="titleText desc ">{{'COOKIES.parag11' | translate}}</p>
            <p class="titleText desc boldish">{{'COOKIES.parag12-bold' | translate}}</p>
            <p class="titleText desc ">{{'COOKIES.parag13' | translate}}</p>
            <p class="titleText desc ">{{'COOKIES.parag14' | translate}}</p>
            <li class="titleText desc">
                {{('COOKIES.link15-forward1' + '.title') | translate}}
                <a href="{{('COOKIES.link15-forward1' + '.url') | translate}}"
                    target="_blank">{{('COOKIES.link15-forward1'
                    + '.url') | translate}}</a>
            </li>
            <li class="titleText desc">
                {{('COOKIES.link15-forward2' + '.title') | translate}}
                <a href="{{('COOKIES.link15-forward2' + '.url') | translate}}"
                    target="_blank">{{('COOKIES.link15-forward2'
                    + '.url') | translate}}</a>
            </li>
            <li class="titleText desc">
                {{('COOKIES.link15-forward3' + '.title') | translate}}
                <a href="{{('COOKIES.link15-forward3' + '.url') | translate}}"
                    target="_blank">{{('COOKIES.link15-forward3'
                    + '.url') | translate}}</a>
            </li>
            <li class="titleText desc">
                {{('COOKIES.link15-forward4' + '.title') | translate}}
                <a href="{{('COOKIES.link15-forward4' + '.url') | translate}}"
                    target="_blank">{{('COOKIES.link15-forward4'
                    + '.url') | translate}}</a>
            </li>
            <li class="titleText desc">
                {{('COOKIES.link15-forward5' + '.title') | translate}}
                <a href="{{('COOKIES.link15-forward5' + '.url') | translate}}"
                    target="_blank">{{('COOKIES.link15-forward5'
                    + '.url') | translate}}</a>
            </li>
            <li class="titleText desc">
                {{('COOKIES.link15-forward6' + '.title') | translate}}
                <a href="{{('COOKIES.link15-forward6' + '.url') | translate}}"
                    target="_blank">{{('COOKIES.link15-forward6'
                    + '.url') | translate}}</a>
            </li>
            <p class="titleText desc boldish">{{'COOKIES.parag16-bold' | translate}}</p>
            <p class="titleText desc ">{{'COOKIES.parag17' | translate}}</p>
            <p class="titleText desc ">{{'COOKIES.parag18' | translate}}</p>
            <li class="titleText desc">
                {{('COOKIES.link18-forward1' + '.title') | translate}}
                <a href="{{('COOKIES.link18-forward1' + '.url') | translate}}"
                    target="_blank">{{('COOKIES.link18-forward1'
                    + '.url') | translate}}</a>
            </li>
            <li class="titleText desc">
                {{('COOKIES.link18-forward2' + '.title') | translate}}
                <a href="{{('COOKIES.link18-forward2' + '.url') | translate}}"
                    target="_blank">{{('COOKIES.link18-forward2'
                    + '.url') | translate}}</a>
            </li>
        </div>
    </div>
</div>