<div class="container-bar">
    <div class="subcontainer">
        <svg xmlns="http://www.w3.org/2000/svg" class="placeholder">
            <circle fill="none" cx="50" cy="50" r="44" stroke-width="10" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg">
            <linearGradient id="gradient" x1="117.196" y1="44.7608" x2="-4.76094" y2="44.7607"
                gradientUnits="userSpaceOnUse">
                <stop offset="0.25" stop-color="#1BA160" />
                <stop offset="0.28125" stop-color="#1BA160" />
                <stop offset="0.421875" stop-color="#FFB700" />
                <stop offset="0.583333" stop-color="#FFB700" />
                <stop offset="0.901042" stop-color="#D23231" />
            </linearGradient>
            <circle fill="none" cx="50" cy="50" r="44" stroke="url(#gradient)" stroke-width="10" #circle />
        </svg>
    </div>
</div>