<ng-container *ngIf="loginDisplay == null || loginDisplay == false">
  <post-auth-loading></post-auth-loading>
</ng-container>

<form *ngIf="loginDisplay == true" class="loginFrame h-100 w-100" (ngSubmit)="connect(save)">
  <div class="form center column h-100 w-100" [@YToBottom]>
    <img class="logo" src="assets/images/logo.png" alt="logo" />
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora vero numquam.</p>

    <mat-label>Enter a token<sup>*</sup>: </mat-label>
    <mat-form-field class="login mb-1" appearance="outline">
      <input placeholder="token" type="email" matInput [formControl]="userNameCtrl" />
      <mat-error *ngIf="userNameCtrl.hasError('required')"> Token <strong>obligatoire</strong> </mat-error>
    </mat-form-field>

    <button
      #save
      aria-label="login azure"
      class="btnEnabledWithCondition minRad"
      data-cy="loginBtn"
      matRipple
      [matRippleDisabled]="userNameCtrl.invalid"
      [ngClass]="{ enabled: userNameCtrl.valid }"
    >
      <em>Connexion</em>
      <div class="spinner white"></div>
    </button>

    <div class="poweredBy flex">
      <!-- <svg-icon src="logo_df"></svg-icon> -->
      <img class="logo" src="assets/images/logo2.png" alt="logo" />
    </div>
  </div>
  <img class="h-100 bg" src="assets/images/login-bg.png" alt="bg" />
  <div class="footer version" attr.data-version="v_{{ version }}"></div>
</form>
