@use "src/styles/variables.scss" as var;

.modal-desc p {
  line-height: 22px;
  color: var(--dark);
  margin-bottom: 1rem;
}
li {
  margin-bottom: 0.5rem;
}
@media (max-width: var.$minMidScreen) {
  .modal-title {
    font-size: 18px;
    line-height: 24px;
    max-width: 250px;
    margin-bottom: 1rem;
  }

  .modal-desc {
    height: calc(85vh - 77px - 88px);
  }

  .action {
    button {
      width: 100%;
    }
  }
}
