<div class="pageFrame">
  <div class="main">
    <a class="main__return flex" [routerLink]="['/home/policies']" matRipple>
      <svg-icon src="previous"></svg-icon>
      Conditions et politiques
    </a>
    <h2 class="main__title">{{ title }}</h2>
    <div class="main__scrolled">
      <p class="titleText desc">{{ "PRIVACY.parag1-part0" | translate }}</p>
      <p class="titleText desc">{{ "PRIVACY.parag1-part1" | translate }}</p>
      <p class="titleText desc">
        {{ "PRIVACY.parag1-part2" | translate }}
        <a class="siteLink" href="{{ 'PRIVACY.parag1-part2-url' | translate }}" target="_blank">{{ "PRIVACY.parag1-part2-url" | translate }}</a>
        {{ "PRIVACY.parag1-part3" | translate }}
      </p>
      <p class="titleText desc">{{ "PRIVACY.parag2" | translate }}</p>
      <p class="titleText bold">{{ "PRIVACY.title1" | translate }}</p>
      <p class="titleText desc">{{ "PRIVACY.parag3" | translate }}</p>
      <p class="titleText desc">{{ "PRIVACY.parag4" | translate }}</p>
      <p class="titleText desc boldish">{{ "PRIVACY.parag5-bold" | translate }}</p>
      <p class="titleText desc">{{ "PRIVACY.parag6" | translate }}</p>
      <li class="titleText desc">{{ "PRIVACY.link6-sub1" | translate }}</li>
      <li class="titleText desc">{{ "PRIVACY.link6-sub2" | translate }}</li>
      <p class="titleText desc">{{ "PRIVACY.parag7" | translate }}</p>
      <li class="titleText desc">{{ "PRIVACY.link7-sub1" | translate }}</li>
      <li class="titleText desc">{{ "PRIVACY.link7-sub2" | translate }}</li>
      <p class="titleText desc boldish">{{ "PRIVACY.parag8-bold" | translate }}</p>
      <p class="titleText desc">{{ "PRIVACY.parag9" | translate }}</p>
      <li class="titleText desc">{{ "PRIVACY.link9-sub1" | translate }}</li>
      <li class="titleText desc">{{ "PRIVACY.link9-sub2" | translate }}</li>
      <p class="titleText desc">{{ "PRIVACY.parag10" | translate }}</p>
      <li class="titleText desc">{{ "PRIVACY.link10-sub1" | translate }}</li>
      <p class="titleText desc">{{ "PRIVACY.parag11" | translate }}</p>
      <li class="titleText desc">{{ "PRIVACY.link11-sub1" | translate }}</li>
      <li class="titleText desc">{{ "PRIVACY.link11-sub2" | translate }}</li>
      <p class="titleText bold">{{ "PRIVACY.title2" | translate }}</p>
      <p class="titleText desc">{{ "PRIVACY.parag12" | translate }}</p>
      <li class="titleText desc">{{ "PRIVACY.link12-sub1" | translate }}</li>
      <li class="titleText desc">{{ "PRIVACY.link12-sub2" | translate }}</li>
      <li class="titleText desc">{{ "PRIVACY.link12-sub3" | translate }}</li>
      <li class="titleText desc">{{ "PRIVACY.link12-sub4" | translate }}</li>
      <li class="titleText desc">{{ "PRIVACY.link12-sub5" | translate }}</li>
      <p class="titleText desc">{{ "PRIVACY.parag13" | translate }}</p>
      <p class="titleText bold">{{ "PRIVACY.title3" | translate }}</p>
      <p class="titleText desc">{{ "PRIVACY.parag14" | translate }}</p>
      <li class="titleText desc">{{ "PRIVACY.mail14-sub1" | translate }} <a href="mailto:dataprivacy@avengers.com">dataprivacy@avengers.com</a></li>
      <li class="titleText desc">{{ "PRIVACY.link14-sub2" | translate }}</li>
      <p class="titleText desc padded">{{ "PRIVACY.parag14-sub2-annex" | translate }}</p>
      <p class="titleText desc">{{ "PRIVACY.parag15" | translate }}</p>
      <p class="titleText bold">{{ "PRIVACY.title4" | translate }}</p>
      <p class="titleText desc">{{ "PRIVACY.parag16" | translate }}</p>
      <p class="titleText bold">{{ "PRIVACY.title5" | translate }}</p>
      <p class="titleText desc">{{ "PRIVACY.parag17" | translate }}</p>
      <p class="titleText bold">{{ "PRIVACY.title6" | translate }}</p>
      <p class="titleText desc">{{ "PRIVACY.parag18" | translate }}</p>
      <li class="titleText desc">{{ "PRIVACY.link18-sub1" | translate }}</li>
      <li class="titleText desc">{{ "PRIVACY.link18-sub2" | translate }}</li>
      <li class="titleText desc">{{ "PRIVACY.link18-sub3" | translate }}</li>
      <li class="titleText desc">{{ "PRIVACY.link18-sub4" | translate }}</li>
      <li class="titleText desc">{{ "PRIVACY.link18-sub5" | translate }}</li>
      <p class="titleText bold">{{ "PRIVACY.title7" | translate }}</p>
      <p class="titleText desc">{{ "PRIVACY.parag19" | translate }}</p>
      <p class="titleText desc">{{ "PRIVACY.parag20" | translate }}</p>
      <p class="titleText desc">{{ "PRIVACY.parag21" | translate }}</p>
    </div>
  </div>
</div>
