<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate" /> 
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="0" />
      </customHeaders>
    </httpProtocol>
      <caching>
          <profiles>
              <add extension=".html" policy="DontCache" kernelCachePolicy="DontCache" />
              <add extension=".css" policy="DontCache" kernelCachePolicy="DontCache" />
              <add extension=".js" policy="DontCache" kernelCachePolicy="DontCache" />
              <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" duration="01:00:30" location="Any" />
          </profiles>
      </caching>
  </system.webServer>
</configuration>
