<div class="pageFrame">
    <div class="main">
        <a class="main__return flex" [routerLink]="['/home/policies']" matRipple>
            <svg-icon src="previous"></svg-icon>
            Conditions et politiques
        </a>
        <h2 class="main__title"> {{title}}</h2>
        <div class="main__scrolled">
            <p class="titleText desc ">{{'TERMS.parag1-part1' | translate}}
                <a class="siteLink" href="{{'PRIVACY.parag1-part2-url' | translate}}" target="_blank">{{
                    'PRIVACY.parag1-part2-url' |
                    translate}}</a>
                {{'TERMS.parag1-part3' | translate}}
            </p>
            <p class="titleText bold">{{'TERMS.title1' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag3' | translate}}</p>
            <p class="titleText bold">{{'TERMS.title2' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag4' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag5' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag6' | translate}}</p>
            <p class="titleText desc">
                {{('TERMS.mailto' + '.title') | translate}}
                <a class="siteLink" href="mailto:{{('TERMS.mailto' + '.mail') | translate}}">{{('TERMS.mailto' +
                    '.mail') |
                    translate}}</a>
            </p>
            <p class="titleText desc ">{{'TERMS.parag8' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag9' | translate}}</p>
            <p class="titleText bold">{{'TERMS.title3' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag10' | translate}}
                <a class="siteLink" aria-label="privacy" routerLink="../privacy" target="_blank">{{'PRIVACY.firstTitle'
                    | translate}}</a>
            </p>
            <li class="titleText desc">{{'TERMS.link11' | translate}}</li>
            <p class="titleText desc ">{{'TERMS.parag11' | translate}}</p>
            <li class="titleText desc">{{'TERMS.link12' | translate}}</li>
            <p class="titleText desc ">{{'TERMS.parag12' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag13' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag14' | translate}}</p>
            <li class="titleText desc">{{'TERMS.link15' | translate}}</li>
            <p class="titleText desc ">{{'TERMS.parag15' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag16' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag17' | translate}}</p>
            <li class="titleText desc">
                {{('TERMS.parent1' + '.title') | translate}}
                <p> {{('TERMS.parent1' + '.subTtile') | translate}}
            <li>
                {{('TERMS.parent1' + '.link1') | translate}}
            </li>
            <li>
                {{('TERMS.parent1' + '.link2') | translate}}
            </li>
            <li>
                {{('TERMS.parent1' + '.link3') | translate}}
            </li>
            <li>
                {{('TERMS.parent1' + '.link4') | translate}}
            </li>
            <li>
                {{('TERMS.parent1' + '.link5') | translate}}
            </li>
            <li>
                {{('TERMS.parent1' + '.link6') | translate}}
            </li>
            <li>
                {{('TERMS.parent1' + '.link7') | translate}}
            </li>

            </p>
            </li>
            <li class="titleText desc">
                {{('TERMS.parent2' + '.title') | translate}}
                <p> {{('TERMS.parent2' + '.subTtile') | translate}}
            <li>
                {{('TERMS.parent2' + '.link2-email') | translate}}
                <a class="siteLink" href="mailto:{{'TERMS.parent2.mail' | translate}}">{{'TERMS.parent2.mail' |
                    translate}}</a>
            </li>
            <li>
                {{('TERMS.parent2' + '.link3-place') | translate}}
                <p class="titleText desc padded">{{'TERMS.parent2.adresse' | translate}}</p>
            </li>
            </p>
            </li>
            <p class="titleText bold">{{'TERMS.title4' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag19' | translate}}
                <a class="siteLink" aria-label="cookies" routerLink="../cookies" target="_blank">{{'COOKIES.firstTitle'
                    | translate}}</a>
            </p>
            <p class="titleText desc ">{{'TERMS.parag20' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag21' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag22' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag23' | translate}}</p>
            <li class="titleText desc">{{'TERMS.link23' | translate}}</li>
            <p class="titleText desc ">{{'TERMS.parag24' | translate}}</p>
            <p class="titleText bold">{{'TERMS.title5' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag25' | translate}}</p>
            <li class="titleText desc">{{'TERMS.link25-sub1' | translate}}</li>
            <li class="titleText desc">{{'TERMS.link25-sub2' | translate}}</li>
            <li class="titleText desc">{{'TERMS.link25-sub3' | translate}}</li>
            <li class="titleText desc">{{'TERMS.link25-sub4' | translate}}</li>
            <li class="titleText desc">{{'TERMS.link25-sub5' | translate}}</li>
            <p class="titleText desc ">{{'TERMS.parag26' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag27' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag28' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag29' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag30' | translate}}</p>
            <p class="titleText bold">{{'TERMS.title6' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag31' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag32' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag33' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag34' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag35' | translate}}</p>
            <p class="titleText bold">{{'TERMS.title7' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag36' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag37' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag38' | translate}}</p>
            <p class="titleText bold">{{'TERMS.title8' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag40' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag41' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag42' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag43' | translate}}</p>
            <li class="titleText desc">{{'TERMS.link43-sub1' | translate}}</li>
            <li class="titleText desc">{{'TERMS.link43-sub2' | translate}}</li>
            <li class="titleText desc">{{'TERMS.link43-sub3' | translate}}</li>
            <li class="titleText desc">{{'TERMS.link43-sub4' | translate}}</li>
            <p class="titleText bold">{{'TERMS.title9' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag45' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag46' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag46-sub1' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag46-sub2' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag46-sub3' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag46-sub5' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag46-sub6' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag46-sub7' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag46-sub8' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag47' | translate}}</p>
            <p class="titleText bold">{{'TERMS.title10' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag48' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag49' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag50' | translate}}</p>
            <p class="titleText bold">{{'TERMS.title11' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag51' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag52' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag53' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag54' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag55' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag56' | translate}}</p>
            <p class="titleText bold">{{'TERMS.title12' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag57' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag58' | translate}}</p>
            <p class="titleText desc ">{{'TERMS.parag59' | translate}}</p>
        </div>
    </div>
</div>